
#square{
    height: 75px;
    width: 75px;
    background-color: rgb(138, 233, 100);
    position: absolute;
    left: 0;
    top: 0;
}

h2{
    color:rgb(255, 255, 255);
    text-align: center;
}

#enemy{
    height: 200px;
    width: 200px;
    background-color: rgb(226, 43, 43);
    position: absolute;
    left: 0;
    top: 0;
}

.enemy {
  transition: transform 1s ease-out;
}

#point-count {
  background-color: #4CAF50; 
  color: white; 
  font-size: 2rem; 
  padding: 0.5rem 1rem; 
  border-radius: 0.5rem; 
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); 
  text-align: center;
}